/* Global Styles */

@import url("reset.css");
@import url("variables.css");
@import url("components.css");
@import url("pages/index.css");
@import url("pages/header.css");
@import url("pages/footer.css");
@import url("pages/login.css");
@import url("pages/register.css");

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  /* background: var(--color-surface); */
  background-color: #001f7c38;

  font-family: var(--font-mono);
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  position: relative;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(page-content) {
  animation-duration: 1s;
  animation-timing-function: ease;
}
::view-transition-old(page-content) {
  animation-name: slide-out;
}
::view-transition-new(page-content) {
  animation-name: slide-in;
}

@keyframes slide-out {
  to {
    translate: -100vw;
  }
}
@keyframes slide-in {
  from {
    translate: 100vw;
  }
}

main {
  view-transition-name: page-content;
  flex: 1 0 auto;
  padding-top: var(--header-height);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  color: var(--color-text);
}

img {
  display: block;
  height: 100%;
}

/* ---------- */
